<%= cl_image_tag("zjxkvcloz27p72rmbncq.png", width: 400, height: 300, crop: :fill) %>

<h1>All cocktails</h1>

<% @cocktails.each do |cocktail| %>
  <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
<% end %>

<h3><%= link_to 'Create new cocktail', new_cocktail_path %></h3>
